################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
bin/
obj/
/src/Services/Catalog/Catalog.API/bin
/src/BuildingBlocks/BuildingBlocks/bin
